/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* __________________________________________________________________________________________ */

@font-face {
  font-family: TheFarmerTextured;
  src: url('TheFarmerTextured-Vintage.otf');
}

@font-face {
  font-family:GeneralSansRegular;
src: url('GeneralSans-Regular.otf');
}

@font-face {
  font-family:GeneralSansSemiBoldItalic;
src: url('GeneralSans-SemiboldItalic.otf');
}

@font-face {
  font-family:GeneralSansLight;
src: url('GeneralSans-Light.otf');
}

/* LOADING PAGE */



.btn{
  font-family: TheFarmerTextured;
  font-size: 5em;
  text-align: center;
  color: sienna;
  background-color: rgba(160, 82, 45, 0.2);
  align-items: center;
  border: sienna 1.5px solid;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 40px;
  margin-top: 40px;
  margin-bottom: 100px;
}


#start-btn.btn{
 
}




.btn:hover {
  /* grandir un peu la taille */
  
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
  background-color: rgba(160, 82, 45, 0.7); 
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'GeneralSansLight';
  color: sienna;
  line-height: 170%;
  text-align: center;
}

/* changer la taille des flèches MARCHE PAS  */
.arrows{
  height: 1vh;
}

#start-screen-container {
  height: 100%;
  /* justify-content: space-around; */
  background-image: url('./images/loadingpage2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  max-width: 350px;
}


h1 {
  font-family: TheFarmerTextured;
  font-size: 6.5em;
  text-align: center;
  color: rgba(160, 82, 45, 0.6);
  margin-top: 100px;
  margin-bottom: 100px;
 
}

#intro-paragraph{
  font-family: 'GeneralSansLight';
  color: sienna;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 25px;
  line-height: 170%;
}



/* GAME CONTAINER */


#timer{
  font-family: TheFarmerTextured;
  font-size: 3em;
  text-align: center;
  color: rgba(160, 82, 45, 0.6);
  padding-top: 20px;
  margin-bottom: 150px;
}

#basket {
  width: 200px;
  height: 200px;
  background-image: url('./waste-images/basket.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
}

#game-container {
  background-image: url('./images/game-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}


.waste-item {
  position: absolute;
  top: -80px;
  left: 0;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: center;

  /* attention la shadow ne va pas avec le sens  */
  filter: drop-shadow(6px 6px 6px rgba(75, 72, 77, 0.5));
}



.gameover-screen {
  position: absolute;
  z-index: 999;
  background-color: #000;
  opacity: .8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* @keyframes fall {
  to {
    transform: translateY(100vh);
  }
} */


#turning-worm{
  width: 300px;
  -webkit-animation: spin 4000ms linear infinite;
  -moz-animation: spin 4000ms linear infinite;
  -ms-animation: spin 4000ms linear infinite;
      animation: spin 4000ms linear infinite;
       
}


@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


#maturation-stage{
  background-image: url('./images/soil.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;

}

#maturation-stage p{
font-size: 6.5em;
padding-top: 100px;
}

#maturation-stage img{
  align-items: center;
  max-width: 500px;

}



/* EFFECT FROM A YOUTUBE VIDEO https://www.youtube.com/watch?v=Tf6qm5JMUXQ&list=WL&index=4&ab_channel=OnlineTutorials */
.cool-effect{
  position: relative;
}

.cool-effect p{
  position: absolute;
  transform: translate (-50%, -50%);
  font-size: 6em;
  font-size: 6.5em;
padding-top: 100px;

}
.cool-effect p:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 2px white;
}
.cool-effect p:nth-child(2){
  color: white;
  animation: animate 2s ease-in-out infinite;
}
@keyframes animate {
  0%,100%{
    clip-path: polygon(0% 65%, 13% 57%, 26% 55%, 40% 64%, 52% 68%, 69% 63%, 82% 57%, 95% 57%, 100% 59%, 100% 100%, 0% 100%);
  }
  50%{
    clip-path: polygon(0% 65%, 8% 68%, 22% 67%, 40% 64%, 50% 64%, 63% 59%, 75% 55%, 88% 51%, 100% 49%, 100% 100%, 0% 100%);
  }
}


/* ENDPAGE */


#end-page{
  background-image: url('./images/YOUWON.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
  
}

#content-end-page{
background-color:rgba(#ffffff,0.5);
  left: 0;
}

#result{
  padding-top: 100px;
  padding-bottom: 50px;
}

#video-div{
  display: flex;
  flex-direction: column;
  align-items: center;

}